// CLOCK
IO_LOC "CLK_27M" 4;             // crystal 27 MHz
IO_PORT "CLK_27M" PULL_MODE=UP IO_TYPE=LVCMOS33;

// KEYS
IO_LOC "KEY" 88;
IO_PORT "KEY" PULL_MODE=NONE;

//LED
IO_LOC "LED" 15;
IO_PORT "LED" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
